{% load i18n %}
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="small-box bg-green" 
        {% if table.order %}
        onclick="window.location.href='{% url 'orders:order_detailview' pk=table.order.pk %}'"
        {% else %}
        onclick="window.location.href='{% url 'tables:table_updateview' pk=table.pk %}'"
        {% endif %}
        >
        <div class="inner">
            <h3>{{ table.name }}</h3>
            <div class="row">
                <div class="col-xs-12">
                    <h3>&yen;
                        {% if table.order %}
                        {{ table.order.total_sum }}
                        {% else %}
                        0.0
                        {% endif %}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h4>{% trans 'Customers' %}</h4>
                    <p>
                        <i class="fa  fa-male"></i> {{ table.male }} + <i class="fa  fa-female"></i> {{ table.female }} / {{ table.size }}
                    </p>
                </div>
                <div class="col-xs-6">
                    {% if table.order %}
                    <h4>
                        {% trans 'Orders' %}
                        {% if table.order.pending_items|length > 0 %}
                        <span class="badge bg-red">{{ table.order.pending_items|length }}</span>
                        {% endif %}
                    </h4>
                    <p><i class="fa fa-check"></i> {{ table.order.progress }}</p>
                    {% else %}
                    <h4>
                        {% trans 'Orders' %}
                        <span class="badge bg-red"></span>
                    </h4>
                    <p><i class="fa fa-check"></i> 0/0</p>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
</div>