{% extends 'layouts/adminlte_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block content %}
<section class="content-header">
    <h1>
        <i class="fa fa-dashboard"></i>
        {% trans 'Dashboard' %}
        <small>{% trans 'All sales data available here.' %}</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12 form-group">
            <form method="GET" class="form" id="dashboard-query-form">
                {% crispy filter_form %}
                <button type="button" class="btn btn-default pull-left" id="daterange-btn">
                    <span>
                        <i class="fa fa-calendar"></i> 
                        {% trans "Custom Range" as translated_range_option %}
                        {% if request.GET.range_option %}
                            {% if request.GET.range_option == translated_range_option %}
                            {{ request.GET.start_date }} - {{ request.GET.end_date }}
                            {% else %}
                            {{ request.GET.range_option }}
                            {% endif %}
                        {% else %}
                        {% trans 'Today' %}
                        {% endif %}
                    </span>
                    <i class="fa fa-caret-down"></i>
                </button>

                <!-- <div class="form-group pull-left">
                    <select class="form-control select2" id="dashboard-table-selector" multiple="multiple" data-placeholder="{% trans 'Tables' %}" style="width: 100%;">
                        {% for id, name in table_choices %}
                        <option value="{{ id }}" {% if id in table_ids %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div> -->
                <div class="pull-right">
                    <button type="button" class="btn btn-seconday" id="dashboard-report-print"><i class="fa fa-print"></i> {% trans 'Print' %}</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-refresh"></i> {% trans 'Refresh' %}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua"
                onclick="window.location.href='{% url 'landing:customer_reportview' %}?start_date={% if request.GET.start_date %}{{ request.GET.start_date }}{% else %}{% now 'Y-m-d' %}{% endif %}&end_date={% if request.GET.end_date %}{{ request.GET.end_date }}{% else %}{% now 'Y-m-d' %}{% endif %}'">
                <div class="inner">
                    <h3>{{ report.customers.count }}</h3>
        
                    <p>{% trans 'Customers' %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua"
            onclick="window.location.href='{% url 'landing:order_reportview' %}?start_date={% if request.GET.start_date %}{{ request.GET.start_date }}{% else %}{% now 'Y-m-d' %}{% endif %}&end_date={% if request.GET.end_date %}{{ request.GET.end_date }}{% else %}{% now 'Y-m-d' %}{% endif %}'">
                <div class="inner">
                    <h3>{{ report.orders.count }}</h3>
        
                    <p>{% trans 'New Orders' %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua"
            onclick="window.location.href='{% url 'landing:dish_reportview' %}?start_date={% if request.GET.start_date %}{{ request.GET.start_date }}{% else %}{% now 'Y-m-d' %}{% endif %}&end_date={% if request.GET.end_date %}{{ request.GET.end_date }}{% else %}{% now 'Y-m-d' %}{% endif %}'">
                <div class="inner">
                    <h3>{{ report.sales.items }}</h3>
        
                    <p>{% trans 'Item Sales' %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>&yen; {{ report.sales.earning }}</h3>
        
                    <p>{% trans 'Sales' %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span class="pull-left">{% trans 'Table Usage' %}</span>
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>
                                <small class="pull-right">{{ table_report.using }} / {{ table_report.total }}</small>
                            </h4>
                            <div class="clearfix"></div>
                            <div class="progress lg">
                                <div class="progress-bar progress-bar-green" style="width: {{ table_report.percent }}%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for table in tables %}
                        {% include 'landing/_dashboard_table_item.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_js %}
<script>
    $(function() {
        {% if request.GET.start_date and request.GET.end_date %}
        window.startDate = moment("{{ request.GET.start_date }}")
        window.endDate  = moment("{{ request.GET.end_date }}")
        {% else %}
        window.startDate = moment()//.subtract(1, "{% trans 'days' %}")
        window.endDate = moment()
        {% endif %}
    })
</script>
<script>
    $(function () {
        //
        $("#sales-chart-date-range").text(`${window.startDate.format('YYYY-MM-DD')} - ${window.endDate.format('YYYY-MM-DD')}`)
        //Initialize Select2 Elements
        $('.select2').select2()
    
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    "{% trans 'Today' %}": [moment(), moment()],
                    "{% trans 'Yesterday' %}": [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    "{% trans 'Last 7 Days' %}": [moment().subtract(6, 'days'), moment()],
                    "{% trans 'Last 30 Days' %}": [moment().subtract(29, 'days'), moment()],
                    "{% trans 'This Month' %}": [moment().startOf('month'), moment().endOf('month')],
                    "{% trans 'Last Month' %}": [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: window.startDate,
                endDate  : window.endDate
            },
            function (start, end, range_option) {
                let start_date = start.format('YYYY-MM-DD'),
                    end_date = end.format('YYYY-MM-DD')
                $("#dashboard_start_date").val(start_date)
                $("#dashboard_end_date").val(end_date)
                $("#dashboard_date_range_option").val(range_option)
                $('#daterange-btn span').html(`${start_date} - ${end_date}`)

                $('form#dashboard-query-form').submit()
            }
        )

        $(document)
        .on('change', '#dashboard-table-selector', function() {
            $("#dashboard_tables").val($(this).val().join(','))
        })
        .on('click', '#dashboard-report-print', function() {
            let start = window.startDate.format('YYYY-MM-DD'),
                end = window.endDate.format('YYYY-MM-DD')
            $.ajax({
                url: `/print?start_date=${start}&end_date=${end}`,
                method: 'get'
            })
        })
    })
    </script>
    <!-- <script src="{% static 'backend_theme/js/dashboard.js' %}"></script> -->
{% endblock %}