{% extends 'layouts/adminlte_base.html' %}

{% load i18n %}
{% load state_tags %}
{% load thumbnail %}

{% block content %}
<section class="content-header">
    <h1>
        <i class="fa fa-shopping-cart"></i>
        {% trans 'Orders' %}
        <small>{% trans 'Detail view of order' %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-folder-open-o"></i>{% trans 'Management' %}</a></li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i>{% trans 'Orders' %}</a></li>
        <li class="active">{% trans 'View' %}</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 table-responsive">
            <h3>{% trans 'Order Details' %}<span class="pull-right">
                <a href="{% url 'orders:order_free_createview' object.pk %}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> {% trans 'Send Free' %}</a></span></h3>
            <table class="table table-striped order-table">
                <tbody>
                    {% for item in object.order_items.all %}
                    <tr>
                        <td>
                            <img src="{{ item.dish.img.tiny }}" class="order-item-dish-image">
                        </td>
                        <td>{{ item.dish.name }}{% if item.is_free %}({% trans 'Free' %}){% endif %}</td>
                        <td>{{ item.dish.price }}</td>
                        <td> x </td>
                        <td>{{ item.amount }}</td>
                        <td> = </td>
                        <td>&yen;{{ item.subtotal }}</td>
                        <td><span class="badge {{ item|order_item_state_bg_color }}">{{ item|state_text }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="4">{% trans 'Total' %}</td>
                        <td>&yen;{{ object.total_sum }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="4">{% trans 'Free' %}</td>
                        <td>&yen;{{ object.total_free }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="4">{% trans 'Billing amount' %}</td>
                        <td>&yen;{{ object.total_billing_price }}</td>
                    </tr>
                </tfoot>
            </table>
            <div class="">
                <a class="btn btn-default" href="{% url 'orders:table_gridview' %}">{% trans 'Back' %}</a>
                <a class="btn btn-primary pull-right" href="{% url 'orders:order_updateview' object.pk %}">{% trans 'Edit' %}</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}