{% extends 'layouts/adminlte_base.html' %}

{% load i18n %}

{% block content %}
<section class="content-header">
    <h1>
        <i class="fa fa-laptop"></i>
        {% trans 'Tables' %}
        <small>{% trans 'Grid view of tables' %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'Management' %}</a></li>
        <li><a href="#"><i class="fa fa-laptop"></i>{% trans 'Tables' %}</a></li>
        <li class="active">{% trans 'List' %}</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        {% for table in object_list %}
        {% include 'tables/_table_grid_item.html' %}
        {% endfor %}
    </div>
</section>
{% endblock content %}