{% extends 'layouts/base.html' %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <a href="/">{% include 'layouts/brand.html' %}</a>
    </div>
    <!-- /.login-logo -->
    <div class="callout callout-success">
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    </div>
    <div class="callout callout-warning">
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>
</div>
  
{% endblock %}