{% load i18n %}

<div class="btn-block">
    <a class="btn btn-xs" title="{% trans 'View' %}" href="{% url 'events:event_detailview' record.pk %}">
        <i class="fa fa-eye"></i>
    </a>
    <a class="btn btn-xs" title="{% trans 'Edit' %}" href="{% url 'events:event_updateview' record.pk %}">
        <i class="fa fa-pencil"></i>
    </a>
    <a class="btn btn-xs" title="{% trans 'Delete' %}" href="{% url 'events:event_deleteview' record.pk %}">
        <i class="fa fa-trash"></i>
    </a>
</div>