{% extends 'layouts/adminlte_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<section class="content-header">
    <h1>
        <i class="fa fa-bomb"></i>
        {{ object.name }}
        <small>{% trans 'Grid view of events' %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cog"></i>{% trans 'Settings' %}</a></li>
        <li><a href="#"><i class="fa fa-bomb"></i>{% trans 'Events' %}</a></li>
        <li class="active">{% trans 'Create' %}</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h2>{% trans 'Delete' %} : {{ object.name }}?</h2>
                </div>
                <div class="box-body">
                    <p>{% trans 'Are you sure that you want to delete this ads?' %}</p>
                    <img src="{{ object.normal }}" />
                </div>
                <div class="box-footer">
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">{% trans 'Yes' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}