{% load i18n %}

<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="small-box bg-aqua">
        <div class="inner">
            <h3>{{ item.name }}</h3>

            <p>{{ item.is_active }}</p>
        </div>
        <div class="icon">
            <!-- <i class="fa fa-shopping-cart"></i> -->
        </div>
        <a href="{% url 'dishes:category_updateview' pk=item.pk %}" class="small-box-footer">
            {% trans 'More info' %} <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>