{% extends 'layouts/adminlte_base.html' %}


{% block content %}
<section class="content-header">
    <h1>
        <i class="fa fa-puzzle-piece"></i>
        Categories
        <small>List view of categories</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Settings</a></li>
        <li><a href="#"><i class="fa fa-puzzle-piece"></i>Categories</a></li>
        <li class="active">List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        {% for item in object_list %}
        {% include 'categories/_category_list_item.html' %}
        {% endfor %}
    </div>
</section>
{% endblock content %}