{% extends 'layouts/adminlte_base.html' %}

{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<section class="content-header">
    <h1>
        <i class="fa fa-video-camera"></i>
        {{ object.name }}
        <small>{% trans 'Detail view of videos' %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cog"></i>{% trans 'Settings' %}</a></li>
        <li><a href="#"><i class="fa fa-video-camera"></i>{% trans 'Videos' %}</a></li>
        <li class="active">{% trans 'List' %}</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h2>{{ object.name }}</h2>
                </div>
                <div class="box-body">
                    <video width="530" height="440" controls autoplay>
                        <source src="{{ object.file.url }}" type="video/mp4"> </source>
                    </video>
                </div>
                <div class="box-footer">
                    <a href="{% url 'videos:video_listview' %}" class="btn btn-secondary">{% trans 'Back' %}</a>
                    <a href="{% url 'videos:video_updateview' pk=object.pk %}" class="btn btn-secondary pull-right">{% trans 'Edit' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}