.absolute-right {
  position: absolute;
  top: 8px;
  right: 10px; }

.direct-chat-messages {
  height: unset; }

div.dish img.dish-image {
  width: 100%;
  height: calc(100%-10px); }

table.order-table td {
  vertical-align: middle !important; }

@media (max-width: 767px) {
  .language-switcher {
    margin-top: 0;
    margin-bottom: 0; } }
