.absolute-right {
  position: absolute;
  top: 8px;
  right: 10px; }

.direct-chat-messages {
  height: unset; }


.language-switcher {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .language-switcher {
    margin-top: 0;
  }
}