{% extends 'layouts/adminlte_base.html' %}


{% block content %}
<section class="content-header">
    <h1>
        <i class="fa fa-laptop"></i>
        Tables
        <small>List view of tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Settings</a></li>
        <li><a href="#"><i class="fa-laptop"></i>Tables</a></li>
        <li class="active">List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        {% for table in object_list %}
        {% include 'tables/_table_list_item.html' %}
        {% endfor %}
    </div>
</section>
{% endblock content %}