{% load i18n %}

<div class="col-sm-6 col-xs-6 dish">
    <div class="small-box bg-aqua">
        <img src="{{ item.img }}" class="dish-image" />
        <div class="inner">
            <h3>{{ item.name }}</h3>
        </div>
        <div class="icon">
            <!-- <i class="fa fa-shopping-cart"></i> -->
        </div>
        <a href="{% url 'dishes:dish_updateview' pk=item.pk %}" class="small-box-footer">
            {% trans 'More info' %} <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>