{% load i18n %}
{% load thumbnail %}

<div class="col-md-4 col-sm-6 col-xs-6 dish">
    <div class="box bg-grey">
        <div class="box-header">
            <span>{{ item.name }}</span>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    {% thumbnail item.img.file "192x128" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="dish-image">
                    {% endthumbnail %}
                    <div class="rateit" data-rateit-mode="font" data-rateit-value="{{ item.rate }}" data-rateit-readonly="true"></div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <span>{{ item.description }}</span><br/>
                    <span>{{ item.price }}</span>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row pull-right">
                <a href="{% url 'dishes:dish_updateview' pk=item.pk %}" class="col-xs-12">
                    {% trans 'Settings' %} <i class="fa fa-cog"></i>
                </a>
            </div>
        </div>
    </div>
</div>