{% extends 'layouts/adminlte_base.html' %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<section class="content-header">
    <h1>
        <i class="fa fa-coffee"></i>
        {% trans 'Dishes' %}
        <small>{% trans 'List view of dishes' %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cog"></i>{% trans 'Settings' %}</a></li>
        <li><a href="#"><i class="fa fa-coffee"></i>{% trans 'Dishes' %}</a></li>
        <li class="active">{% trans 'List' %}</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            {% if filter_form %}
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter_form layout='inline' %}
                <button class="btn btn-default">{% trans 'Filter' %}</button>
                <a href="{% url 'dishes:dish_createview' %}" class="btn btn-xs pull-right"><i class="fa fa-plus"></i> {% trans 'Add New' %}</a>
            </form>
            {% endif %}
        </div>
        <div class="col-sm-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    {% for category in object_list %}
                    <li class="{% if forloop.first %}active{% endif %}">
                        <a href="#category-{{ category.pk }}" data-toggle="tab" aria-expanded="true">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for category in object_list %}
                    <div class="tab-pane {% if forloop.first %}active{% endif %}" id="category-{{ category.pk }}">
                        <div class="row">
                            {% for item in category.dishes.all %}
                            {% include 'dishes/_dish_card_item.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block custom_js %}
<script>
    $(document).ready(() => {
        $('.rateit').rateit()
    })
</script>
{% endblock %}