{% extends 'layouts/adminlte_base.html' %}

{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<section class="content-header">
    <h1>
        <i class="fa fa-paw"></i>
        {{ object.name }}
        <small>{% trans 'Detail view of Emoticon' %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cog"></i>{% trans 'Settings' %}</a></li>
        <li><a href="#"><i class="fa fa-paw"></i>{% trans 'Emoticons' %}</a></li>
        <li class="active">{% trans 'List' %}</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <img src="{{ object.file.url }}" />
        </div>
    </div>
</section>
{% endblock content %}